<div class="cover">
  <div class="filter"></div>
  <div class="main-div">
    <mat-card class="profile-card">
      <div class="container">
        <div class="header">
          <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
              <h2>Book Instructor</h2>
            </div>
            <div class="p-2 bd-highlight"><a mat-button routerLink="/instructors" routerLinkActive="mat-accent">Go back
                to Instructors</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 highlight ">
            <p class="text-justofy warn">Please note the following before booking:</p>
          </div>
          <div class="p-2 bd-highlight">
            <p class="text-justify p2">
              After submitting, you will be contacted by the instructor in max 48 hours to confirm the booking. Also.
              you will be contacted in at least 2 days before the booking takes place in order to set an hour that firs
              both you and the instructor. Please fill in the form any special requirements you want to address the
              instructor (it is optional) and they will be taken into consideration if possible!
            </p>
          </div>
          <div class="p-2 bd-highlight margin">
            <p class="text-justify p2">
              If you have selected the group option, fill in the requirements box the names of
              your group, if they exist. Otherwise, you will be grouped with other people your level by the instructor,
              if
              possible.</p>
          </div>
          <div class="p-2 bd-highlight">
            <p class="text-justofy p1">Please fill in the form below in order to book an instructor</p>
          </div>
        </div>
        <div class="formular">
          <div class="d-flex justify-content-center">
            <form [formGroup]="bookingsForm" (ngSubmit)="submitForm()" >
              <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Full Name" formControlName="name">
                      </mat-form-field>
                    </div>
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" formControlName="email">
                      </mat-form-field>
                    </div>
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="p-2 bd-highlight">
                    <mat-form-field class="example-full-width">
                      <mat-select name="levels" formControlName="level">
                        <mat-option *ngFor="let level of levels" [value]="level">
                          {{level}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
                <div class="p-2 bd-highlight">
                  <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <mat-select name="slope" formControlName="slope">
                          <mat-option *ngFor="let slope of slopes" [value]="slope">
                            {{slope}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <mat-select name="instructor" formControlName="instructor">
                          <mat-option *ngFor="let name of this.InstructorData" [value]="name.name">
                            {{name.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="p-2 bd-highlight">
                      <mat-form-field class="example-full-width">
                        <mat-select name="session" formControlName="session">
                          <mat-option *ngFor="let session of this.sessions" [value]="session">
                            {{session}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="p-2 bd-highlight">
                    <mat-form-field class="example-full-width">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Requirements" formControlName="requirements"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!-- Submit & Reset -->
              <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <button mat-flat-button color="warn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
