<div class="cover">
  <div class="filter"></div>
  <div class="main-div">
    <mat-card class="profile-card">
      <div class="container">
        <div class="header">
          <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
              <h2>Thank you for the feedback!</h2>
            </div>
            <div class="p-2 bd-highlight"><a mat-button routerLink="">Go back Home</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="d-flex justify-content-center">
            <p >See you on the slopes!</p>
          </div>
          <div class="d-flex justify-content-center">
            <img src="assets/img/thank-you.jpg" class="img-thumbnail"
              width="500" height="190">
          </div>
        </div>
        <div class="formular">
          <div class="d-flex justify-content-end">~ Team skiReserve</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
