<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/ski_wallpaper.jpg');">

  <div class="filter"></div>

  <div class="container">
    <div class="motto text-center">
      <h1 class="presentation-title">skiReserve</h1>
      <h2 class="subtitle">First Romanian online reservation platform for winter sports</h2>
      <br />
      <a class="bookInstructor" mat-stroked-button>Book Instructor</a>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>

</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">

          <mat-card class="introductionCard">
            <div class="introHeader">
              <h2>Welcome to skiReserve!</h2>
            </div>
            <div class="divider">
              <mat-divider></mat-divider>
            </div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-fill bd-highlight">
                <img class="img-welcome" src="./assets/img/ski-instructor.jpg">
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <div class="introBody">
                  <h4>skiReserve is an online platform that links clients to ski instructors in order to make it accessible to everyone!</h4>
                </div>
              </div>
            </div>

          </mat-card>


        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-4">

          <mat-card class="contentCard">
            <div class="contentHeader">
              <div class="d-flex justify-content-center">
                <div class="p-2 bd-highlight"><mat-icon>perm_contact_calendar</mat-icon></div>
                <div class="p-2 bd-highlight"><h3><b>Certified Instructors</b></h3></div>
              </div>
            </div>
            <div class="contentBody">
              <span>content body</span>
            </div>
            <div class="contentFooter">
              <span>content footer</span>
            </div>
          </mat-card>

        </div>

        <div class="col-md-4">

          <mat-card class="contentCard">
            <div class="contentHeader">
              <div class="d-flex justify-content-center">
                <div class="p-2 bd-highlight"><mat-icon>lock</mat-icon></div>
                <div class="p-2 bd-highlight"><h3><b>Easy Reservation</b></h3></div>
              </div>
            </div>
            <div class="contentBody">
              <span>content body</span>
            </div>
            <div class="contentFooter">
              <span>content footer</span>
            </div>
          </mat-card>

        </div>

        <div class="col-md-4">

          <mat-card class="contentCard">
            <div class="contentHeader">
              <div class="d-flex justify-content-center">
                <div class="p-2 bd-highlight"><mat-icon>room</mat-icon></div>
                <div class="p-2 bd-highlight"><h3><b>Best Slopes</b></h3></div>
              </div>
            </div>
            <div class="contentBody">
              <span>content body</span>
            </div>
            <div class="contentFooter">
              <span>content footer</span>
            </div>
          </mat-card>

        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">

          <mat-card>
            <div class="introHeader">
              <h2>Frequently Asked Questions</h2>
            </div>
            <div class="divider">
              <mat-divider></mat-divider>
            </div>

            <div class="expansionPanel">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why am I fat?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why am I fat?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why am I fat?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why am I fat?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </mat-card>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
