<div class="cover">
  <div class="filter"></div>
  <div class="main-div">
    <mat-card class="profile-card">
      <div class="container">
        <div class="header">
          <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
              <h2>Reviews</h2>
            </div>
            <div class="p-2 bd-highlight"><a mat-button routerLink="/add-review" routerLinkActive="mat-accent">Add
                Review</a>
            </div>
            <div class="p-2 bd-highlight"><a mat-button routerLink="/instructors" routerLinkActive="mat-accent">Go back
                to Instructors</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <div class="p-2 bd-highlight">
            <ng-container *ngFor="let e of ReviewsData">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{e.name}}</mat-card-title>
                  <mat-card-subtitle>Instructor: {{e.instructor}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p class="text-style">"{{e.message}}"</p>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </div>
        <div class="formular">

        </div>
      </div>
    </mat-card>
  </div>
</div>
