<div class="cover">
  <div class="filter"></div>
  <div class="main-div">
    <mat-card class="profile-card">
      <div class="container">
        <div class="header">
          <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
              <h2>Add Review</h2>
            </div>
            <div class="p-2 bd-highlight"><a mat-button routerLink="/reviews" routerLinkActive="mat-accent">Go back
                to Reviews</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 highlight ">
            <p class="text-justofy warn">Please note the following before adding a review:</p>
          </div>
          <div class="p-2 bd-highlight">
            <p class="text-justify p2">
              Only enter a review after your session with the instructor has happenned by choosing your Instructor from the Instructors list!
            </p>
          </div>
        </div>
        <div class="formular">
          <div class="d-flex justify-content-center">
            <form [formGroup]="reviewsForm" (ngSubmit)="submitForm()">
              <div class="p-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight mb-3">
                  <div class="p-2 bd-highlight">
                    <label id="label1">Full Name</label>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="name">
                    </mat-form-field>
                  </div>
                  <div class="p-2 bd-highlight">
                    <label id="label2">Email</label>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <label id="label3">Choose Instructor</label>
                  <mat-form-field class="example-full-width">
                    <mat-select name="instructor" formControlName="instructor">
                      <mat-option *ngFor="let name of this.InstructorData" [value]="name.name">
                        {{name.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <label id="label4">Your Review</label>
                <mat-form-field class="example-full-width">
                  <textarea matInput formControlName="message"></textarea>
                </mat-form-field>
              </div>
              <!-- Submit & Reset -->
              <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <button mat-flat-button color="warn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
