<div class="cover">
  <div class="filter"></div>
  <div class="main-div">
    <mat-card class="profile-card">
      <div class="container">
        <div class="d-flex bd-highlight mb-3">
          <div class="mr-auto p-2 bd-highlight">
            <h2>Hi, {{details.name}}!</h2>
          </div>
        </div>
        <hr>
        <div class="profile-body">
          <div class="d-flex justify-content-center" *ngIf="this.userMode==='edit'">
            <h4 class="text-info">Please review all field before saving! Please be aware that your certificate
              series cannot be modified!</h4>
          </div>
          <hr>
          <div class="d-flex justify-content-center">
            <form [formGroup]="studentForm" (ngSubmit)="updateStudentForm()" #resetStudentForm="ngForm" novalidate>
              <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Surname" formControlName="surname">
                  </mat-form-field>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                  </mat-form-field>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Town of Origin" formControlName="town">
                  </mat-form-field>
                </div>
                <div class="p-2 bd-highlight">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!-- Submit & Reset -->
              <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                  <button mat-flat-button routerLink="/profile">Cancel</button>
                </div>
                <div class="p-2 bd-highlight">
                  <button mat-flat-button color="warn">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
